@import url('https://fonts.googleapis.com/css?family=Roboto|Satisfy');

body{
    background-image: url('../imagenes/background_imagen.png');
    font-family: 'Roboto', sans-serif;
    background-size: cover;
}

.container{
    width: 100%;
    background: #F8F8F8;
    box-sizing: border-box;
    font-size: .9em;
}

fieldset{
  border-style:none;
}

header {
    width: 100%;
    position: relative;
    height: 60px;
    padding: 4px;
}

header h1{
    text-align: center;
    font-family: 'Satisfy', cursive;
    font-size: 40px;
    margin-top: 0px;
}

#button-header{
    background: #7e549f;
    padding: 3px 0px;
    margin: 3px auto;
    text-align: center;
    font-size: 12px;
}

figure {
  text-align: center;
  margin-right: 24%;
}

footer {
  width: 95%;
  font-size: 11px;
  margin: 0px auto;
  position: relative;
  text-align: center;
}

#alerta{
    margin-top:10px;
    display: none;
    border: none;
    width: 100%;
    height: 8%;
    color: #011627;
    padding: 8px;
    font-size: 12px;
    font-family:'Roboto',sans-serif;
    border-radius: 5px;
    margin-left: -30px;
}

#alerta p{
    color: #271937 ;
    text-align: center;
}

#instructions{
  margin-top: 10px;
  border: none;
  width: 20%;
  height: 8%;
  background: #f2bf5b;
  color: #2E294E;
  padding: 8px;
  font-size: 12px;
  font-family:'Roboto',sans-serif;
  border-radius: 5px;
  box-sizing: border-box;
  margin-left: 40%;
  text-align: center;
}

.visible{
  display: block !important;
}

p{
    color: #FFF;
    margin: 5px 5px;
}

#input-offset{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
    align-items: center;
    margin: 2px auto 2px auto;
}

#offset{
    width: 95%;
    height: 20px;
    margin: 10px auto;
    border: solid 1px #cee5dc;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;

}

#clean-and-copy{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    width: 100%;
    float: right;
    margin: 0px 105px;
  }

#clean{
    width: 32px;
    height: 32px;
    background-image: url('../imagenes/refrescar.png');
    background-color: #F8F8F8;
    border: #F8F8F8;
    margin: 0px 8px;
    float: right;
}

#copy{
    width: 32px;
    height:32px;
    background-image: url('../imagenes/copy.png');
    background-color: #F8F8F8;
    border: #FFF;
    margin: 0px 8px;
    float: right;
}

#btn-whatsapp{
    width: 32px;
    height:32px;
    background-image: url('../imagenes/whatsapp.png');
    background-color: #F8F8F8;
    border: #FFF;
    margin: 0px 8px;
    float: right;
}

#main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1024px;
    margin: 0px auto 10px;
    padding: 10px;
}

.input-text{
    width: 35%;
}

#enter-text{
   outline-color:#CEE5DC;
   text-align: center;
   width:95% ;
   float: left;
   border: solid 1px #CEE5DC;
   font-family: 'Roboto', sans-serif;
   font-size: 13px;

}

#result {
   outline-color:#CEE5DC;
   text-align: center;
   width:95% ;
   float: right;
   border: solid 1px #CEE5DC;
   font-family: 'Roboto', sans-serif;
   font-size: 13px;
   background: #f3f3f3;
}

figure {
  width: 100%;
  background-size: 20%;
  text-align: center;
  margin-right: 22%;

}

.input-text{
   text-align: center;
   width:80% ;
   float: left;
   border: none;
   font-family: 'Roboto', sans-serif;
   font-size: 12px;

}

#encode{
    border: none;
    width: 80%;
    height: 8%;
    background: #fb836f;
    color: #FFF;
    padding: 6px;
    font-size: 11px;
    font-family:'Roboto',sans-serif;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    margin-left: 15px;
    margin-bottom: 10px; //separa entre el boton encode y decode
}

#decode{
    border: none;
    width: 90%;
    height: 8%;
    background: #c1549c;
    color: #FFF;
    padding: 6px;
    font-size: 11px;
    font-family:'Roboto',sans-serif;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    margin-left: 10px;
}

.img-encode-and-decode {
  width: 15px;
  height: 15px;
  margin: 0px 2px;
}

@media screen and (max-width: 375px) {

body {
  width: 95%;
  background: #ecf4ec;
}

.conteiner{
    width: 100%;
}

header {
  width: 100%;
  position: relative;
  background-size: cover;
  height: 55px;
  font-size: 20px;
  padding: 4px;
}

#alerta {
      width: 100%;
      margin-top:10px;
      box-sizing: border-box;
      font-size: 11px;
      position: relative;
      font-family:'Roboto',sans-serif;
}

#alerta p {
  text-align: center;
}

#steps {
  width: 100%;
  text-align: center;
}

#instructions {
  width: 50%;
  margin-left: 25%;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: auto auto;
}

#encode {
    width: 50%;
    margin: 2px 2px 4px 70px;
    font-size: 11px;
}

#decode {
    width: 50%;
    margin: 2px 6px 25px 70px;
    font-size: 11px;
}

.img-encode-and-decode {
  width: 15px;
  height: 15px;
  margin: 0px 2px;
}

.input-text {
    display: flex;
    justify-content: center;
    width: 100%;
}

#enter-text {
    outline-color:#CEE5DC;
    width: 100%;
    height: 110px;
}

#offset {
    width: 60%;
}

#clean {
        width: 32px;
        height: 32px;
        background-image: url('../imagenes/refrescar.png');
        background-color: #F8F8F8;
        border: #F8F8F8;
        float: left;
        left: 60%;
        margin:auto;
        position: relative;

}

#copy {
      width: 32px;
      height:32px;
      background-image: url('../imagenes/copy.png');
      background-color: #F8F8F8;
      border: #F8F8F8;
      float: left;
      margin:auto;
      position: relative;
      top: 290px;
      left: 43%;
}

#btn-whatsapp{
    width: 32px;
    height:32px;
    background-image: url('../imagenes/whatsapp.png');
    background-color: #F8F8F8;
    border: #F8F8F8;
    margin: 0px 8px;
    float: left;
    position: relative;
    top: 290px;
    left: 26%;
}

#result {
    outline-color:#CEE5DC;
    margin-top: 5px;
    width: 100%;
    height: 110px;
}

footer {
  margin-top: 10px;
  font-size: 10px;
}

}

@media screen and (max-width: 360px) {

body {
  width: 95%;
  background: #ecf4ec;
}

.conteiner{
    width: 100%;
}

header {
  width: 100%;
  position: relative;
  background-size: cover;
  height: 55px;
  font-size: 20px;
  padding: 4px;
}

#alerta {
      width: 100%;
      margin-top:10px;
      box-sizing: border-box;
      font-size: 11px;
      position: relative;
      font-family:'Roboto',sans-serif;
}

#alerta p {
  text-align: center;
}

#stepso {
  width: 100%;
  text-align: center;
}

#instructions {
  width: 50%;
  margin-left: 25%;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: auto auto;
}

#encode {
    width: 50%;
    margin: 2px 2px 4px 70px;
    font-size: 11px;

}

#decode {
    width: 50%;
    margin: 2px 6px 25px 70px;
    font-size: 11px;
}

.img-encode-and-decode {
  width: 15px;
  height: 15px;
  margin: 0px 2px;
}

.input-text {
    display: flex;
    justify-content: center;
    width: 100%;
}

#enter-text {
    outline-color:#CEE5DC;
    width: 100%;
    height: 110px;
}

#offset {
    width: 60%;
}

#clean {
        width: 32px;
        height: 32px;
        background-image: url('../imagenes/refrescar.png');
        background-color: #F8F8F8;
        border: #F8F8F8;
        float: left;
        left: 60%;
        margin:auto;
        position: relative;

}

#copy {
      width: 32px;
      height:32px;
      background-image: url('../imagenes/copy.png');
      background-color: #F8F8F8;
      border: #F8F8F8;
      float: left;
      margin:auto;
      position: relative;
      top: 300px;
      left: 43%;
}

#btn-whatsapp{
    width: 32px;
    height:32px;
    background-image: url('../imagenes/whatsapp.png');
    background-color: #F8F8F8;
    border: #F8F8F8;
    margin: 0px 8px;
    float: left;
    position: relative;
    top: 300px;
    left: 26%;
}

#result {
    outline-color:#CEE5DC;
    margin-top: 5px;
    width: 100%;
    height: 110px;
}

footer {
  margin-top: 10px;
  font-size: 10px;
}

}
